.appContainer {
	width: 500 px;
	margin: auto;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.innerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gameTitle {
	font-family: sans-serif;
	flex: 1;
	font-weight: 700;
	font-size: 60px;
	color: #776e65;
}

.gameBoard {
	background: #ad9d8f;
	width: max-content;
	height: max-content;
	margin: auto;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
	position: relative;
}

.gameOverMessage {
	font-size: 30px;
	font-family: sans-serif;
	font-weight: 900;
	color: #776e65;
}

.newGameButton {
	padding: 10px;
	background: #846f5b;
	color: #f8f5f0;
	width: 95px;
	border-radius: 7px;
	font-weight: 900;
	margin-left: auto;
	margin-bottom: auto;
	cursor: pointer;
}

.tryAgainButton {
	padding: 10px;
	background: #846f5b;
	color: #f8f5f0;
	width: 80px;
	border-radius: 7px;
	font-weight: 900;
	cursor: pointer;
	margin: auto;
	margin-top: 20px;
}

.gameOverOverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: 5px;
	background: rgba(238, 228, 218, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
